{% autoescape None %}
<html>
<head>

    <title>Self-Destruct</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/list.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--typekit-->
    <script type="text/javascript" src="//use.typekit.net/sfu1xqz.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
<div id="container">
    <div id="rnd-intro"><a href="http://www.nytlabs.com"><img src="../static/img/nytlabs.png" /></a></div> 
<!--     <div id="nav">
        <div id="username"></div> &nbsp;|&nbsp; <a href="/logout" id="logout">Sign out</a>
    </div> -->

    <br class="clear" />
    <div id="logo">
        Selfdestruct Logo Here
    </div>

   <div id="intro">
        <p>
            Selfdestruct is a simple service that monitors your Twitter stream, and for tweets you mark with <span class="hashtag">#sd</span>, schedules them to be automatically deleted.
        </p>
        <p>
        Usage:
        <ul>
            <li>#sd on a tweet = that tweet disappears in five minutes.</li>
            <li>Customize the time-to-live of any tweet by adding a number of minutes after the #sd tag (so, #sd20 will live for 20 minutes)</li>
        </ul>
        </p>
   </div>
   <a href="/login" id="login">Sign in with Twitter</a>

   <!--footer-->
    <div id="footer">Selfdestruct is a project of <a href="http://www.nytlabs.com">The New York Times R&amp;D Lab</a> &nbsp;|&nbsp; <a href="http://www.nytimes.com/content/help/rights/privacy/policy/privacy-policy.html">Privacy</a> &nbsp;|&nbsp; <a href="http://www.nytimes.com/content/help/rights/terms/terms-of-service.html">Terms of Service</a></div>

</div>

</body>
</html>